{% load vite %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'favicon/favicon.html' %}
    <title>{% block title%}Avatar games | Сеть арен виртуальной реальности{% endblock %}</title>

    {% vite %}
    {% vite 'avatargames/js/common.js' 'avatargames/css/common.css' 'home/js/home.js' 'home/css/home.css'%}
    {% include 'metriks/head.html' %}
</head>
<body class="main-page">
    {% include 'preloader/preloader.html' %}
    {% include 'header/header.html' %}
    <div>
        <main class="bg-[#F7F7FA]">
            {% include 'home/partials/promo.html' %}
            {% include 'home/partials/games.html' %}
            {% include 'home/partials/numbers.html' %}
            {% include 'home/partials/world-vr.html' %}
            {% include 'home/partials/video.html' %}
            {% include 'home/partials/news.html' %}
            {% include 'home/partials/command.html' %}
            <section class="mt-[50px] md:mt-[90px] lg:mt-[100px]">
		        {% include 'discount/discount.html' %}
	        </section>

        </main>
    </div>
    {% include 'footer/footer.html' %}
    {% include 'form/form.html' %}
    {% include 'form/messages/success.html' %}
    {% include 'metriks/body.html' %}
</body>
</html>