{% load vite %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'favicon/favicon.html' %}
    <title>{% block title%}Avatar games | Сеть арен виртуальной реальности{% endblock %}</title>

    {% vite %}
    {% vite 'avatargames/js/common.js' 'avatargames/css/common.css' 'franchise/js/franchise.js' 'franchise/css/style.css'%}
    {% include 'metriks/head.html' %}
</head>
<body class="bg-[#F7F7FA] group franchise-page">
    {% include 'header/header.html' %}
    <div>
        <main class="bg-[#F7F7FA]">
            {% include 'franchise/partials/top.html' %}
            {% include 'franchise/partials/cards.html' %}
            {% include 'franchise/partials/profit.html' %}
            {% include 'franchise/partials/countries.html' %}
            {% include 'franchise/partials/games.html' %}
            {% include 'franchise/partials/why.html' %}
            {% include 'franchise/partials/info.html' %}
            {% include 'franchise/partials/advantages.html' %}
            {% include 'franchise/partials/video.html' %}
            {% include 'franchise/partials/prices.html' %}
            {% include 'franchise/partials/subscription.html' %}
            {% include 'franchise/partials/partners.html' %}
            {% include 'franchise/partials/design.html' %}
            {% include 'franchise/partials/more.html' %}
        </main>
    </div>
    {% include 'footer/footer.html' %}
    {% include 'metriks/body.html' %}
</body>
</html>