{% load static %}
<section class="mt-[50px] md:mt-[120px]">
		<div area="block-wrapper">
	<div class="px-[43px] flex flex-col items-center">
		<h2
			area="text-animate"
			class="text-[40px] font-open text-center leading-[130%] text-[#0A0A0C] md:text-[56px]"
		>
			Наши командные <br class="sm:hidden" />
			VR-игры
		</h2>

		<p
			area="text-animate"
			class="text-2xl font-open text-center leading-[140%] text-[#3A3A4A] inline-block mt-[30px] sm:mt-5"
		>
			Линейка продуктов
		</p>
	</div>

	<!-- Games cards -->

	<div
		area="GamesCards"
		class="max-w-full h-auto mt-[30px] sm:mt-[70px] lg:mt-[42px] sm:px-5 md:px-0 lg:max-w-[1280px] lg:mx-auto xl0:max-w-[1400px] lg:p-0"
	>
		<!-- Avatar battle -->
		<div class="banner-left max-w-full h-auto">
			<div class="px-4 w-full sm:px-0 md:px-5 lg:px-10 xl0:px-0">
	<a href="/franchise/?s=0#plans" class="group block relative w-full h-auto">
		<div
			class="py-[26px] w-[292px] sm:w-full bg-[rgba(56,47,75,0.46)] text-center absolute left-[50%] translate-x-[-50%] bottom-[30px] z-10 rounded-none sm:rounded-[10px] md:w-max md:px-[43px] md:bottom-[60px]"
		>
			<h2
	class="font-openCondensed text-[50px] px-2 font-bold leading-[110%] tracking-[1.5px] uppercase text-white sm:text-[60px] sm:leading-[100%] sm:tracking-[1.2px] md:text-[70px] md:leading-[90%] md:tracking-[1.4px] lg:leading-[100%] xl:text-[110px] xl:tracking-[2.2px]"
>
	Avatar Battle
</h2>

		</div>

		<div class="w-full h-full overflow-hidden group">
			<picture>
				<source
					media="(min-width: 1280px)"
					alt="Avatar Battle"
					srcset="{% static '/images/games/1-1280.jpg' %}"
				/>
				<source
					media="(min-width: 1024px)"
					alt="Avatar Battle"
					srcset="{% static '/images/games/1-1024.jpg' %}"
				/>
				<source
					media="(min-width: 640px)"
					alt="Avatar Battle"
					srcset="{% static '/images/games/1-640.jpg' %}"
				/>
				<img
					src="{% static '/images/games/1-360.jpg' %}"
					alt="Avatar Battle"
					loading="lazy"
					class="group-hover:scale-110 transition-all duration-300 object-cover w-full h-full"
				/>
			</picture>
		</div>
	</a>
</div>

		</div>

		<!-- Avatar party Games -->
		<div class="banner-right max-w-full h-auto mt-3">
			<div class="px-4 w-full sm:px-0 md:px-5 lg:px-10 xl0:px-0">
	<a
		href="http://party.avatargames.ru/"
		target="_blank"
		class="group block relative w-full h-auto"
	>
		<div
			class="py-[26px] bg-[rgba(141,111,206,0.46)] text-center w-[292px] sm:w-full absolute left-[50%] translate-x-[-50%] bottom-[30px] z-10 rounded-none md:rounded-[10px] md:w-max md:px-[43px] md:bottom-[60px]"
		>
			<h2
	class="font-openCondensed text-[50px] px-2 font-bold leading-[110%] tracking-[1.5px] uppercase text-white sm:text-[60px] sm:leading-[100%] sm:tracking-[1.2px] md:text-[70px] md:leading-[90%] md:tracking-[1.4px] lg:leading-[100%] xl:text-[110px] xl:tracking-[2.2px]"
>
	party games
</h2>

		</div>
		<div class="w-full h-full overflow-hidden group">
			<picture>
				<source
					media="(min-width: 1280px)"
					alt="Avatar Battle"
					srcset="{% static '/images/games/2-1280.jpg' %}"
				/>
				<source
					media="(min-width: 1024px)"
					alt="Avatar Battle"
					srcset="{% static '/images/games/2-1024.jpg' %}"
				/>
				<source
					media="(min-width: 640px)"
					alt="Avatar Battle"
					srcset="{% static '/images/games/2-640.jpg' %}"
				/>
				<img
					src="{% static '/images/games/2-360.jpg' %}"
					alt="Avatar Battle"
					class="group-hover:scale-110 transition-all duration-300 object-cover w-full h-full"
					loading="lazy"
				/>
			</picture>
		</div>
	</a>
</div>

		</div>

		<!-- Avatars vs zombies -->
		<div class="banner-left max-w-full h-auto mt-3">
			<div class="px-4 w-full sm:px-0 md:px-5 lg:px-10 xl0:px-0">
	<a href="/franchise/?s=2#plans" class="group block relative w-full h-auto">
		<div
			class="py-[26px] bg-[rgba(0,0,0,0.27)] text-center w-[292px] sm:w-full absolute left-[50%] translate-x-[-50%] bottom-[30px] z-10 rounded-none md:rounded-[10px] md:w-max md:px-[43px] md:bottom-[60px]"
		>
			<h2
	class="font-openCondensed text-[50px] px-2 font-bold leading-[110%] tracking-[1.5px] uppercase text-white sm:text-[60px] sm:leading-[100%] sm:tracking-[1.2px] md:text-[70px] md:leading-[90%] md:tracking-[1.4px] lg:leading-[100%] xl:text-[110px] xl:tracking-[2.2px]"
>
	Avatars vs Zombies
</h2>

		</div>
		<div class="w-full h-full overflow-hidden group">
			<picture>
				<source
					media="(min-width: 1280px)"
					alt="Avatar Battle"
					srcset="{% static '/images/games/3-1280.jpg' %}"
				/>
				<source
					media="(min-width: 1024px)"
					alt="Avatar Battle"
					srcset="{% static '/images/games/3-1024.jpg' %}"
				/>
				<source
					media="(min-width: 640px)"
					alt="Avatar Battle"
					srcset="{% static '/images/games/3-640.jpg' %}"
				/>
				<img
					src="{% static '/images/games/3-360.jpg' %}"
					alt="Avatar Battle"
					class="group-hover:scale-110 transition-all duration-300 object-cover w-full h-full"
					loading="lazy"
				/>
			</picture>
		</div>
	</a>
</div>

		</div>

		<!-- Warstation -->
		<div class="banner-right max-w-full h-auto mt-3">
			<div class="px-4 w-full sm:px-0 md:px-5 lg:px-10 xl0:px-0">
	<a
		href="http://warstation.ru/"
		target="_blank"
		class="group block relative w-full h-auto"
	>
		<div
			class="py-[26px] bg-[rgba(0,0,0,0.27)] text-center w-[292px] sm:w-full absolute left-[50%] translate-x-[-50%] bottom-[30px] z-10 rounded-none md:rounded-[10px] md:w-max md:px-[43px] md:bottom-[60px]"
		>
			<h2
	class="font-openCondensed text-[50px] px-2 font-bold leading-[110%] tracking-[1.5px] uppercase text-white sm:text-[60px] sm:leading-[100%] sm:tracking-[1.2px] md:text-[70px] md:leading-[90%] md:tracking-[1.4px] lg:leading-[100%] xl:text-[110px] xl:tracking-[2.2px]"
>
	WARSTATION
</h2>

		</div>
		<div class="w-full h-full overflow-hidden group">
			<picture>
				<source
					media="(min-width: 1280px)"
					alt="Avatar Battle"
					srcset="{% static '/images/games/4-1280.jpg' %}"
				/>
				<source
					media="(min-width: 1024px)"
					alt="Avatar Battle"
					srcset="{% static '/images/games/4-1024.jpg' %}"
				/>
				<source
					media="(min-width: 640px)"
					alt="Avatar Battle"
					srcset="{% static '/images/games/4-640.jpg' %}"
				/>
				<img
					src="{% static '/images/games/4-360.jpg' %}"
					alt="Avatar Battle"
					class="group-hover:scale-110 transition-all duration-300 object-cover w-full h-full"
					loading="lazy"
				/>
			</picture>
		</div>
	</a>
</div>

		</div>
	</div>
</div>

	</section>