{% load static %}
<section class="mt-[30px]">
		<div class="relative font-open h-[640px] md:h-[540px]">
	<img
		src="{% static '/images/video/bg-360.jpg' %}"
		alt="VR-Академия AVATAR GAMES"
		class="w-full h-full object-cover sm:hidden"
	/>
	<img
		src="{% static '/images/video/bg-640.jpg' %}"
		alt="VR-Академия AVATAR GAMES"
		class="hidden w-full h-full object-cover sm:block md:hidden"
	/>

	<img
		src="{% static '/images/video/bg-1024.jpg' %}"
		alt="VR-Академия AVATAR GAMES"
		class="hidden w-full h-full object-cover md:block"
	/>
	<div
		class="absolute left-0 right-0 top-0 bottom-0 pt-[30px] px-4 md:px-10 md:pt-[80px] md:flex md:flex-wrap lg:pt-[90px] lg:max-w-[1084px] lg:mx-auto lg:px-0"
	>
		<h2
			class="text-[#0A0A0C] text-[40px] leading-[130%] text-center sm:text-[64px] md:text-left md:text-[72px] md:leading-[120%] md:max-w-[525px] lg:text-[80px] lg:max-w-[610px]"
		>
			VR-Академия <br />
			AVATAR GAMES
		</h2>
		<div
			class="w-[247px] mx-auto mt-[82px] sm:mt-[49px] md:w-[315px] md:mt-[80px] md:ml-[99px] lg:w-[353px] lg:mt-0 lg:ml-[123px]"
		>
			<img
				src="{% static '/images/video/youtube.png' %}"
				alt="VR-Академия AVATAR GAMES"
			/>
		</div>
		<div class="md:w-full">
			<a
				href="https://www.youtube.com/@avatargames_vr"
				target="_blank"
				class="bg-[#FF1515] text-white max-w-[328px] h-[56px] w-full flex mx-auto mt-[81px] rounded-[50px] items-center justify-center text-[22px] font-semibold leading-[100%] sm:max-w-[482px] sm:mt-[52px] md:max-w-[207px] md:mx-0 md:-mt-[170px]"
				>Подробнее</a
			>
		</div>
	</div>
</div>

	</section>