{% load static %}
<section class="mt-[70px] md:mt-[130px] lg:mt-[120px]">
		<div class="World-VR h-[540px] relative lg:h-full">
	<img
		src="{% static '/images/worldVR/worldVR.jpg' %}"
		alt="Арены AVATAR GAMES по всему миру"
		class="w-full h-full object-cover"
		loading="lazy"
	/>

	<div
		class="absolute top-0 left-0 right-0 h-full pt-[230px] flex flex-col items-center sm:pt-[170px] xl:justify-center xl:items-center xl:pt-0"
	>
		<div>
			<h2
				class="title text-[#0A0A0C] font-open text-[40px] font-semibold text-center leading-[130%] sm:text-[48px] sm:max-w-[517px] md:text-[56px] md:max-w-[620px]"
			>
				Наши <br class="sm:hidden" />
				партнёры <br class="hidden sm:block md:hidden" />
				по <br class="sm:hidden md:block" />
				всему миру
			</h2>
		</div>
		<div class="button">
			<a
				href="/franchise/#fiveScene"
				class="py-[14px] px-10 w-[328px] text-center bg-[#FEFD02] text-[#0A0A0C] font-semibold leading-[100%] mt-[60px] block rounded-[50px] sm:w-max sm:mt-[30px] md:mt-[50px] hover:bg-[#6A35FF] hover:text-white transition-all duration-200"
				>Подробнее</a
			>
		</div>
	</div>
</div>

	</section>