<div class="content mt-10 md:w-[800px]">
    <h4>Также ведется работа по направлениям:</h4>
    <ul class="mt-5">
        <li>Разработка компьютерного программного обеспечения</li>
        <li>
            Деятельность консультативная и работы в области компьютерных
            технологий
        </li>
        <li>
            Деятельность по планированию, проектированию компьютерных систем
        </li>
        <li>
            Деятельность по подготовке компьютерных систем к эксплуатации
        </li>
        <li>Деятельность по сопровождению компьютерных систем</li>
        <li>
            Деятельность, связанная с использованием вычислительной техники
            и информационных технологий, прочая
        </li>
        <li>
            Деятельность по обработке данных, предоставление услуг по
            размещению информации и связанная с этим деятельность
        </li>
        <li>
            Деятельность по созданию и использованию баз данных и
            информационных ресурсов
        </li>
        <li>
            Ремонт компьютеров и периферийного компьютерного оборудования
        </li>
    </ul>

    <p class="mt-10">
        Программное обеспечение CYBERTAG-конфигуратор зарегистрировано в
        <a
                href="https://reestr.digital.gov.ru/reestr/1460137/?sphrase_id=2965474"
        >Едином реестре российских программ для электронных
            вычислительных машин и баз данных</a
        >
        за номером 17468 (дата включения в реестр 02.05.2023).
    </p>
    <p class="mt-10">
        Исключительное право на программное обеспечение на территории всего
        мира и на весь срок действия исключительного права зарегистрировано
        в Роспатенте за номером 2022669047 (дата регистрации от 14.10.2022).
    </p>
</div>