{% load static %}
<div class="md:w-[384px] xl:w-[453px]">
    <a href="#!" class="bg-[#F5F5F7]">
        <div class="h-auto w-full relative md:h-[216px] xl:h-[255px]">
            <img
                    src="/assets/images/2-2a26a577.webp"
                    alt="Подробная статья о WARSTATION"
                    class="h-full w-full object-cover"
            />
            <button
                    type="button"
                    class="hidden w-12 h-12 absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4"
            >
                <img src="" alt=""/>
            </button>
        </div>

        <div
                class="mt-5 flex flex-col sm:flex-row sm:flex-wrap sm:mt-5 md:mt-[30px]"
        >
            <button
                    class="px-4 py-1 rounded-2xl border border-[#C8CBE7] bg-white text-sm text-[#9499C3] w-max shrink-0 sm:order-1"
            >
                Открытие арены
            </button>
            <h3
                    class="mt-[10px] text-[#101828] text-2xl font-semibold font-cnext leading-[140%] sm:order-3 sm:mt-[14px] sm:text-[32px] md:text-2xl w-full"
            >
                Подробная статья о WARSTATION
            </h3>
            <p class="mt-[10px] text-[#3A3A4A] leading-[150%] sm:order-4">
                How do you create compelling presentations that wow your colleagues and impress your
                managers?
            </p>
            <time
                    datetime="20-01-2022"
                    class="mt-[10px] text-[#9499C3] text-sm leading-[150%] sm:ml-auto sm:order-2 sm:mt-0 sm:self-center"
            >20 Января 2022
            </time
            >
        </div>
    </a>
</div>