<div class="hidden md:block mt-[30px] desktop-list-category">
    <nav class="flex flex-wrap gap-x-[18px] gap-y-[10px] lg:gap-x-[10px]">
        <a
                href="/news/"
                class="{% if request.path == '/news/' %}bg-[#ebe4ff] text-[#6a35ff]{% endif %} flex justify-center py-2 px-3 rounded-[20px] bg-white font-open shadow-custom-shadow-categoryItem border border-[#EFEFF8] w-[232px] transition-all duration-300 xl:w-[225px]"
        >
                Все категории
        </a>

        {% for category in categories %}
            {% with "/news/"|add:category.slug|add:"/" as path %}
            <a
                href="/news/{{ category.slug }}/"
                class="{% if request.path == path %}bg-[#ebe4ff] text-[#6a35ff]{% endif %}
                        text-base flex justify-center py-2 px-3 rounded-[20px] bg-white font-open shadow-custom-shadow-categoryItem border border-[#EFEFF8] w-[232px] transition-all duration-300 xl:w-[225px]"
            >
                {{ category.title }}
            </a>
            {% endwith %}
        {% endfor %}

    </nav>
</div>