<div class="mt-4 flex flex-col sm:mt-[30px] sm:flex-row sm:justify-between">
    <!-- Title -->
    <h1
            class="text-[#0A0A0C] text-[40px] font-semibold leading-[130%] sm:text-[56px] sm:leading-[120%]"
    >
        Новости
    </h1>


    <!-- CheckBoxes -->
    <div
            class="mt-5 flex flex-wrap items-center gap-x-[50px] gap-y-[18px] sm:gap-x-5"
    >
        <div class="flex items-center px-1">
            <input
                    type="checkbox"
                    id="news"
                    class="relative appearance-none w-6 h-6 rounded-[6px] border border-solid border-[#E4EAF3] bg-white outline-none float-left mr-[10px] cursor-pointer transition-all duration-300 before:pointer-events-none before:w-4 before:h-4 before:absolute before:content-[''] before:bg-[url('images/news/check.svg')] before:bg-center before:scale-0 before:transition-all before:duration-300 before:top-2/4 before:left-2/4 before:-translate-x-2/4 before:-translate-y-2/4 checked:border-[#6A35FF] checked:before:scale-100 checked:bg-transparent sm:w-5 sm:h-5 sm:before:w-[14px] sm:before:h-[14px]"
            />
            <label
                    for="news"
                    class="cursor-pointer text-[#1D1D1F] text-xl leading-[160%] sm:text-lg select-none"
            >
              Новости
            </label>
        </div>

        <div class="flex items-center px-1">
            <input
                    type="checkbox"
                    id="article"
                    class="relative appearance-none w-6 h-6 rounded-[6px] border border-solid border-[#E4EAF3] bg-white outline-none float-left mr-[10px] cursor-pointer transition-all duration-300 before:pointer-events-none before:w-4 before:h-4 before:absolute before:content-[''] before:bg-[url('images/news/check.svg')] before:bg-center before:scale-0 before:transition-all before:duration-300 before:top-2/4 before:left-2/4 before:-translate-x-2/4 before:-translate-y-2/4 checked:border-[#6A35FF] checked:before:scale-100 checked:bg-transparent sm:w-5 sm:h-5 sm:before:w-[14px] sm:before:h-[14px]"
            />
            <label
                    for="article"
                    class="cursor-pointer text-[#1D1D1F] text-xl leading-[160%] sm:text-lg select-none"
            >
              Статьи
            </label>
        </div>

        <div class="flex items-center px-1">
            <input
                    type="checkbox"
                    id="video"
                    class="relative appearance-none w-6 h-6 rounded-[6px] border border-solid border-[#E4EAF3] bg-white outline-none float-left mr-[10px] cursor-pointer transition-all duration-300 before:pointer-events-none before:w-4 before:h-4 before:absolute before:content-[''] before:bg-[url('images/news/check.svg')] before:bg-center before:scale-0 before:transition-all before:duration-300 before:top-2/4 before:left-2/4 before:-translate-x-2/4 before:-translate-y-2/4 checked:border-[#6A35FF] checked:before:scale-100 checked:bg-transparent sm:w-5 sm:h-5 sm:before:w-[14px] sm:before:h-[14px]"
            />
            <label
                    for="video"
                    class="cursor-pointer text-[#1D1D1F] text-xl leading-[160%] sm:text-lg select-none"
            >
              Видео
            </label>
        </div>

    </div>

</div>