{% load static %}
<div class="mt-4 flex flex-col sm:mt-[30px] sm:flex-row sm:justify-between">
    <!-- Title -->
    <h1
            class="text-[#0A0A0C] text-[40px] font-semibold leading-[130%] sm:text-[56px] sm:leading-[120%]"
    >
        Новости
    </h1>


    <!-- CheckBoxes -->
    <div
            id="news-types"
            class="mt-5 flex flex-wrap items-center gap-x-[50px] gap-y-[18px] sm:gap-x-5"
    >
        {{ request.GET }}
        {% for type in types %}
            {% include 'checkbox/checkbox.html' with type=type checked=True %}
        {% endfor %}
    </div>

</div>