<div
	class="preloader fixed top-0 left-0 right-0 bottom-0 bg-[#F5F5F7] z-[1001]"
>
	<div class="w-full h-full flex items-center justify-center relative">
		<div
			class="preloader__text hidden w-full absolute opacity-0 transition-opacity duration-500 top-2/4 -translate-y-2/4 left-2/4 -translate-x-2/4 font-open text-xl text-center font-semibold"
		>
			Мы разрабатываем — вы зарабатываете
		</div>
		<div
			class="preloader__text hidden w-full absolute opacity-0 transition-opacity duration-500 top-2/4 -translate-y-2/4 left-2/4 -translate-x-2/4 font-open text-xl text-center font-semibold"
		>
			Правильный выбор
		</div>
		<div
			class="preloader__text hidden w-full absolute opacity-0 transition-opacity duration-500 top-2/4 -translate-y-2/4 left-2/4 -translate-x-2/4 font-open text-xl text-center font-semibold"
		>
			Сейчас всё будет
		</div>
	</div>
</div>