{% load static %}
<section class="nineScene pt-[35px] md:pt-[50px] lg:pt-[60px] overflow-hidden">
    <div class="nineScene-wrapper px-4 md:px-10">
        <div
                class="grid md:grid-cols-2 md:gap-x-[56px] md:gap-y-[90px] lg:md:gap-x-[110px]"
        >
            <div class="md:col-span-2 overflow-hidden">
                <div class="overflow-hidden">
                    <h2
                            class="font-semibold text-[40px] leading-[52px] text-center nineScene-animate sm:text-[56px] sm:leading-[67px]"
                    >
                        Преимущества
                    </h2>
                </div>
                <div class="overflow-hidden">
                    <p
                            class="font-semibold text-[16px] leading-[22px] text-center mt-5 nineScene-animate sm:text-[20px] sm:leading-[28px]"
                    >
                        Что вы получите, став нашим партнёром:
                    </p>
                </div>
            </div>

            <div class="overflow-hidden mt-[30px] md:mt-[0px] nineScene-left">
                <div id="advantages" class="swiper">
                    <div class="swiper-wrapper">
                        <!--        SLIDE 1         -->
                        <div class="swiper-slide overflow-hidden">
                            <div class="flex flex-col h-[515px]">
                                <div>
                                    <img loading="lazy" src="{% static '/images/advantages/icons/1.svg' %}">

                                </div>
                                <div class="mt-5">
                                    <h4 class="font-semibold text-[32px] leading-[45px]
                 sm:text-[56px] sm:leading-[67px]">
                                        Прибыльный бизнес.
                                    </h4>
                                </div>
                                <div class="mt-5 grow-1">
                                    <p class="text-[16px] leading-[24px]">
                                        Доход в месяц даже в небольших городах превышает 600 000 рублей.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--        SLIDE 2         -->
                        <div class="swiper-slide overflow-hidden">
                            <div class="flex flex-col h-[515px]">
                                <div>
                                    <img loading="lazy" src="{% static '/images/advantages/icons/2.svg' %}">

                                </div>
                                <div class="mt-5">
                                    <h4 class="font-semibold text-[32px] leading-[45px]
                 sm:text-[56px] sm:leading-[67px]">
                                        Низкие операционные расходы.
                                    </h4>
                                </div>
                                <div class="mt-5 grow-1">
                                    <p class="text-[16px] leading-[24px]">
                                        Небольшие расходы на поддержание работы арены позволят вам вкладывать больше
                                        средств в ее развитие.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--        SLIDE 3         -->
                        <div class="swiper-slide overflow-hidden">
                            <div class="flex flex-col h-[515px]">
                                <div>
                                    <img loading="lazy" src="{% static '/images/advantages/icons/3.svg' %}">

                                </div>
                                <div class="mt-5">
                                    <h4 class="font-semibold text-[32px] leading-[45px]
                 sm:text-[56px] sm:leading-[67px]">
                                        Быстрая окупаемость.
                                    </h4>
                                </div>
                                <div class="mt-5 grow-1">
                                    <p class="text-[16px] leading-[24px]">
                                        Наши арены окупается от 9 месяцев после запуска. А на точку безубыточности
                                        выходят уже со второго месяца.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--        SLIDE 4         -->
                        <div class="swiper-slide overflow-hidden">
                            <div class="flex flex-col h-[515px]">
                                <div>
                                    <img loading="lazy" src="{% static '/images/advantages/icons/4.svg' %}">

                                </div>
                                <div class="mt-5">
                                    <h4 class="font-semibold text-[32px] leading-[45px]
                 sm:text-[56px] sm:leading-[67px]">
                                        Быстрый запуск. Минимум вложений.
                                    </h4>
                                </div>
                                <div class="mt-5 grow-1">
                                    <p class="text-[16px] leading-[24px]">
                                        Для запуска требуется помещение, шлемы виртуальной реальности, Wi-Fi роутер и
                                        планшет. В среднем запуск у наших партнеров занимает 1-2 месяца.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--        SLIDE 5         -->
                        <div class="swiper-slide overflow-hidden">
                            <div class="flex flex-col h-[515px]">
                                <div>
                                    <img loading="lazy" src="{% static '/images/advantages/icons/5.svg' %}">

                                </div>
                                <div class="mt-5">
                                    <h4 class="font-semibold text-[32px] leading-[45px]
                 sm:text-[56px] sm:leading-[67px]">
                                        Никакого роялти.
                                    </h4>
                                </div>
                                <div class="mt-5 grow-1">
                                    <p class="text-[16px] leading-[24px]">
                                        Вся прибыль с арены остается у вас. Вы оплачиваете только подписку на игровой
                                        софт, его обновления и тех. поддержку игрового сервера.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--        SLIDE 6         -->
                        <div class="swiper-slide overflow-hidden">
                            <div class="flex flex-col h-[515px]">
                                <div>
                                    <img loading="lazy" src="{% static '/images/advantages/icons/6.svg' %}">

                                </div>
                                <div class="mt-5">
                                    <h4 class="font-semibold text-[32px] leading-[45px]
                 sm:text-[56px] sm:leading-[67px]">
                                        Помощь и поддержка на каждом этапе.
                                    </h4>
                                </div>
                                <div class="mt-5 grow-1">
                                    <p class="text-[16px] leading-[24px]">
                                        Персональный менеджер и проектная команда для каждого партнера. Помощь с
                                        подбором и анализом помещения в вашем городе. Все необходимые правила и
                                        регламенты по работе арены.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--        SLIDE 7         -->
                        <div class="swiper-slide overflow-hidden">
                            <div class="flex flex-col h-[515px]">
                                <div>
                                    <img loading="lazy" src="{% static '/images/advantages/icons/7.svg' %}">

                                </div>
                                <div class="mt-5">
                                    <h4 class="font-semibold text-[32px] leading-[45px]
                 sm:text-[56px] sm:leading-[67px]">
                                        Запуск игр в любом месте.
                                    </h4>
                                </div>
                                <div class="mt-5 grow-1">
                                    <p class="text-[16px] leading-[24px]">
                                        Мы разрабатываем игры под любое помещение.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--        SLIDE 8         -->
                        <div class="swiper-slide overflow-hidden">
                            <div class="flex flex-col h-[515px]">
                                <div>
                                    <img loading="lazy" src="{% static '/images/advantages/icons/8.svg' %}">

                                </div>
                                <div class="mt-5">
                                    <h4 class="font-semibold text-[32px] leading-[45px]
                 sm:text-[56px] sm:leading-[67px]">
                                        Разнообразный игровой контент.
                                    </h4>
                                </div>
                                <div class="mt-5 grow-1">
                                    <p class="text-[16px] leading-[24px]">
                                        Наша команда разработки сделала игры для разных возрастов. Поэтому на вашей
                                        арене будет интересно как детям, так и взрослым.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--        SLIDE 9         -->
                        <div class="swiper-slide overflow-hidden">
                            <div class="flex flex-col h-[515px]">
                                <div>
                                    <img loading="lazy" src="{% static '/images/advantages/icons/9.svg' %}">

                                </div>
                                <div class="mt-5">
                                    <h4 class="font-semibold text-[32px] leading-[45px]
                 sm:text-[56px] sm:leading-[67px]">
                                        Уникальные командные игры.
                                    </h4>
                                </div>
                                <div class="mt-5 grow-1">
                                    <p class="text-[16px] leading-[24px]">
                                        Игры AVATAR GAMES — это разные жанры, множество игровых механик, красочные миры,
                                        большой выбор персонажей, возможность одновременного подключения до 12 игроков,
                                        полное погружение и свободное перемещение на большой арене.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--        SLIDE 10         -->
                        <div class="swiper-slide overflow-hidden">
                            <div class="flex flex-col h-[515px]">
                                <div>
                                    <img loading="lazy" src="{% static '/images/advantages/icons/10.svg' %}">

                                </div>
                                <div class="mt-5">
                                    <h4 class="font-semibold text-[32px] leading-[45px]
                 sm:text-[56px] sm:leading-[67px]">
                                        Простой запуск Avatar игр с планшета.
                                    </h4>
                                </div>
                                <div class="mt-5 grow-1">
                                    <p class="text-[16px] leading-[24px]">
                                        Это позволит инструктору всегда находиться рядом с игроками и полностью
                                        контролировать весь процесс.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--        SLIDE 11         -->
                        <div class="swiper-slide overflow-hidden">
                            <div class="flex flex-col h-[515px]">
                                <div>
                                    <img loading="lazy" src="{% static '/images/advantages/icons/11.svg' %}">

                                </div>
                                <div class="mt-5">
                                    <h4 class="font-semibold text-[32px] leading-[45px]
                 sm:text-[56px] sm:leading-[67px]">
                                        Бесплатная адаптация игр серии Avatar при переезде.
                                    </h4>
                                </div>
                                <div class="mt-5 grow-1">
                                    <p class="text-[16px] leading-[24px]">
                                        При смене помещения нет дополнительных затрат на релокацию игр.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--        SLIDE 12         -->
                        <div class="swiper-slide overflow-hidden">
                            <div class="flex flex-col h-[515px]">
                                <div>
                                    <img loading="lazy" src="{% static '/images/advantages/icons/12.svg' %}">

                                </div>
                                <div class="mt-5">
                                    <h4 class="font-semibold text-[32px] leading-[45px]
                 sm:text-[56px] sm:leading-[67px]">
                                        Сайт клуба.
                                    </h4>
                                </div>
                                <div class="mt-5 grow-1">
                                    <p class="text-[16px] leading-[24px]">
                                        Мы предоставляем готовый сайт для арены на раскрученном домене бренда, благодаря
                                        чему ваш сайт будет хорошо ранжироваться в поисковых сетях.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--        SLIDE 13         -->
                        <div class="swiper-slide overflow-hidden">
                            <div class="flex flex-col h-[515px]">
                                <div>
                                    <img loading="lazy" src="{% static '/images/advantages/icons/13.svg' %}">

                                </div>
                                <div class="mt-5">
                                    <h4 class="font-semibold text-[32px] leading-[45px]
                 sm:text-[56px] sm:leading-[67px]">
                                        Контент для продвижения.
                                    </h4>
                                </div>
                                <div class="mt-5 grow-1">
                                    <p class="text-[16px] leading-[24px]">
                                        Мы предоставим вам пакет дизайн-материалов и контент для соцсетей, которые
                                        регулярно обновляются. Вам остается только запустить продвижение.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--        SLIDE 14         -->
                        <div class="swiper-slide overflow-hidden">
                            <div class="flex flex-col h-[515px]">
                                <div>
                                    <img loading="lazy" src="{% static '/images/advantages/icons/14.svg' %}">

                                </div>
                                <div class="mt-5">
                                    <h4 class="font-semibold text-[32px] leading-[45px]
                 sm:text-[56px] sm:leading-[67px]">
                                        Возможность работать под своей торговой маркой.
                                    </h4>
                                </div>
                                <div class="mt-5 grow-1">
                                    <p class="text-[16px] leading-[24px]">
                                        Вы можете использовать наши игры в своем клубе, арене, парке без ограничений.
                                        Развивайте свою сеть VR арен под собственным брендом.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--        SLIDE 15         -->
                        <div class="swiper-slide overflow-hidden">
                            <div class="flex flex-col h-[515px]">
                                <div>
                                    <img loading="lazy" src="{% static '/images/advantages/icons/15.svg' %}">

                                </div>
                                <div class="mt-5">
                                    <h4 class="font-semibold text-[32px] leading-[45px]
                 sm:text-[56px] sm:leading-[67px]">
                                        Разработка уникальных игр и сценариев под Ваш запрос.
                                    </h4>
                                </div>
                                <div class="mt-5 grow-1">
                                    <p class="text-[16px] leading-[24px]">
                                        Создадим VR- игру на основе вашей идеи и по вашему техническому заданию.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="pb-[45px] md:pb-0 nineScene-right hidden md:grid">
                <div class="advantages-swiper-pagination-md"></div>
            </div>
            <div class="pb-[35px] md:pb-0 md:hidden">
                <div class="advantages-swiper-pagination-sm"></div>
            </div>
        </div>
    </div>
</section>