<section
	class="thirdScene py-[40px] sm:pt-[100px] sm:pb-[60px] md:py-[120px] md:pb-[70px] lg:pb-[90px] overflow-x-hidden"
>
	<div
		class="px-4 sm:px-5 md:max-w-[1024px] md:mx-auto lg:max-w-[1280px] lg:px-10 xl:max-w-[1400px] xl:px-0"
	>
		<div class="flex anim-wid"></div>
		<div>
			<h2
				area="title-thirdScene"
				class="hidden sm:block text-center text-[40px] md:font-semibold"
			>
				Почему Avatar Games?
			</h2>
		</div>
		<div
			class="flex flex-col gap-1.5 sm:gap-2.5 md:flex-row sm:mt-[60px] md:mt-[50px] md:grid md:grid-cols-3 md:gap-x-2.5 lg:mt-[50px]"
		>
			<!--  PINK CARD -->
			<div
				class="rounded-[30px] p-[30px] text-white sm:relative sm:rounded-[20px] sm:pt-[30px] sm:pb-[40px] md:pr-[26px]"
				data-color="pink"
			>
				<h3
					class="font-semibold text-[32px] leading-[45px] sm:leading-[140%] md:text-2xl md:leading-[140%] lg:text-[32px]"
				>
					Международная франшиза VR&#8209;арен
				</h3>
				<p
					class="text-[20px] leading-[28px] mt-2.5 sm:mt-5 sm:text-base sm:leading-[150%] lg:text-[20px] lg:leading-[160%]"
				>
					Арены виртуальной реальности в формате свободного
					передвижения с командными играми собственной разработки.
				</p>
			</div>
			<!-- END PINK CARD -->

			<!--  BLUE CARD -->
			<div
				class="rounded-[30px] p-[30px] text-white sm:relative sm:rounded-[20px] sm:pt-[30px] sm:pb-[40px] md:pr-[26px]"
				data-color="blue"
			>
				<h3
					class="font-semibold text-[32px] leading-[45px] sm:leading-[140%] md:text-2xl md:leading-[140%] lg:text-[32px]"
				>
					Многолетий опыт
				</h3>
				<p
					class="text-[20px] leading-[28px] mt-2.5 sm:mt-5 sm:text-base sm:leading-[150%] lg:text-[20px] lg:leading-[160%]"
				>
					Проект Avatar Games запущен компанией LASERWAR — лидером в
					производстве оборудования для игр в лазертаг, а также сети
					клубов в 87 странах. Более 3500 партнеров.
				</p>
			</div>
			<!-- END BLUE CARD -->
			<!--  VIOLET CARD -->
			<div
				class="rounded-[30px] p-[30px] text-white sm:relative sm:rounded-[20px] sm:pt-[30px] sm:pb-[40px] md:pr-[26px]"
				data-color="violet"
			>
				<h3
					class="font-semibold text-[32px] leading-[45px] sm:leading-[140%] md:text-2xl md:leading-[140%] lg:text-[32px]"
				>
					Прибыльный бизнес в сфере развлечений
				</h3>
				<p
					class="text-[20px] leading-[28px] mt-2.5 sm:mt-5 sm:text-base sm:leading-[150%] lg:text-[20px] lg:leading-[160%]"
				>
					Опыт компании в бизнесе уже более 13 лет. Мы не понаслышке
					знаем, как развивать бизнес в сфере развлечений.
				</p>
			</div>
			<!-- END VIOLET CARD -->
		</div>
	</div>
</section>
