<section
	id="fiveScene"
	class="fiveScene py-[45px] pb-[75px] sm:py-[35px] sm:pb-[105px] md:py-[50px] md:pb-[120px] lg:py-[60px] lg:pb-[140px]"
>
	<div class="container xl:max-w-[1200px]">
		<div class="flex flex-col text-center overflow-hidden">
			<!-- ======================================= -->
			<p
				class="text-[20px] leading-[28px] fiveScene-animate sm:text-[40px] sm:leading-[52px]"
			>
				С 2022 года мы открыли
			</p>
			<!-- ======================================= -->
			<p
				class="fiveScene-flip text-[96px] leading-[115px] font-bold mt-5 sm:text-[120px] sm:leading-[120px] sm:mt-[70px] md:text-[210px] md:leading-[210px] md:mt-[90px]"
			>
				000
			</p>
			<!-- ======================================= -->
			<p
				class="text-[40px] leading-[52px] font-semibold sm:leading-[40px] sm:mt-5"
			>
				арен
			</p>
			<!-- ======================================= -->
			<p
				class="text-[40px] leading-[40px] font-semibold mt-5 sm:mt-[70px] md:mt-[90px] flex justify-center items-end"
			>
				<span class="leading-[80px]">в</span>
				<span
					class="fiveScene-flip-country text-[96px] leading-[115px] font-bold sm:text-[120px] sm:leading-[120px] md:text-[210px] md:leading-[210px]"
				>
					0
				</span>
			</p>
			<!-- ======================================= -->
			<p
				class="text-[40px] leading-[52px] mt-5 font-semibold sm:leading-[40px]"
			>
				странах
			</p>
			<!-- ======================================= -->
		</div>
	</div>
</section>