<section
	class="sixteenthScene py-[35px] sm:py-[35px] md:py-[50px] lg:py-[60px]"
>
	<div class="container text-[#1D1D1F] xl:max-w-[1200px]">
		<div class="overflow-hidden">
			<h4
				class="text-[20px] leading-[32px] text-center sm:text-[24px] sm:leading-[34px] md:text-[40px] md:leading-[52px] sixteenthScene-animate"
			>
				Дизайн интерьера
			</h4>
		</div>

		<div class="overflow-hidden">
			<h2
				class="font-semibold text-[40px] leading-[52px] text-center mt-2.5 sm:text-[56px] sm:leading-[67px] md:text-[96px] md:leading-[115px] sixteenthScene-animate"
			>
				AVATAR ARENA
			</h2>
		</div>

		<div class="overflow-hidden">
			<p
				class="text-[16px] leading-[24px] text-center mt-2.5 md:mt-5 sixteenthScene-animate lg:text-[24px] lg:leading-[34px]"
			>
				г. Смоленск
			</p>
		</div>
	</div>

	<div class="mt-4 px-4 sm:px-5 sm:mt-[30px] md:pr-0 md:mt-[50px] lg:pl-10">
		<div class="sixteenthScene swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<picture>
						<source
							src="/assets/images/1-e4e76232.webp"
							media="(min-width: 1280px)"
						/>
						<source
							src="/assets/images/1-76b26fa0.webp"
							media="(min-width: 1024px)"
						/>
						<source
							src="/assets/images/1-db2706ce.webp"
							media="(min-width: 640px)"
						/>
						<source
							src="/assets/images/1-09b05783.webp"
							media="(max-width: 639px)"
						/>
						<img
							loading="lazy"
							class="w-full h-auto"
							src="/assets/images/1-e4e76232.webp"
						/>
					</picture>
				</div>

				<div class="swiper-slide">
					<picture>
						<source
							src="/assets/images/2-2b5206ea.webp"
							media="(min-width: 1280px)"
						/>
						<source
							src="/assets/images/2-fd1f035c.webp"
							media="(min-width: 1024px)"
						/>
						<source
							src="/assets/images/2-d73cb1af.webp"
							media="(min-width: 640px)"
						/>
						<source
							src="/assets/images/2-f1b4d81a.webp"
							media="(max-width: 639px)"
						/>
						<img
							loading="lazy"
							class="w-full h-auto"
							src="/assets/images/2-2b5206ea.webp"
						/>
					</picture>
				</div>

				<div class="swiper-slide">
					<picture>
						<source
							src="/assets/images/3-a84f2862.webp"
							media="(min-width: 1280px)"
						/>
						<source
							src="/assets/images/3-9ff8ef27.webp"
							media="(min-width: 1024px)"
						/>
						<source
							src="/assets/images/3-9177f311.webp"
							media="(min-width: 640px)"
						/>
						<source
							src="/assets/images/3-eb18da79.webp"
							media="(max-width: 639px)"
						/>
						<img
							class="w-full h-auto"
							src="/assets/images/3-a84f2862.webp"
						/>
					</picture>
				</div>

				<div class="swiper-slide">
					<picture>
						<source
							src="/assets/images/4-99690fbb.webp"
							media="(min-width: 1280px)"
						/>
						<source
							src="/assets/images/4-a69233dd.webp"
							media="(min-width: 1024px)"
						/>
						<source
							src="/assets/images/4-7ebd306c.webp"
							media="(min-width: 640px)"
						/>
						<source
							src="/assets/images/4-a557071a.webp"
							media="(max-width: 639px)"
						/>
						<img
							class="w-full h-auto"
							src="/assets/images/4-99690fbb.webp"
						/>
					</picture>
				</div>

				<div class="swiper-slide">
					<picture>
						<source
							src="/assets/images/5-0c855589.webp"
							media="(min-width: 1280px)"
						/>
						<source
							src="/assets/images/5-d3769ddb.webp"
							media="(min-width: 1024px)"
						/>
						<source
							src="/assets/images/5-01c09049.webp"
							media="(min-width: 640px)"
						/>
						<source
							src="/assets/images/5-858e2f19.webp"
							media="(max-width: 639px)"
						/>
						<img
							class="w-full h-auto"
							src="/assets/images/5-0c855589.webp"
						/>
					</picture>
				</div>

				<div class="swiper-slide">
					<picture>
						<source
							src="/assets/images/6-36f34a75.webp"
							media="(min-width: 1280px)"
						/>
						<source
							src="/assets/images/6-e35b8284.webp"
							media="(min-width: 1024px)"
						/>
						<source
							src="/assets/images/6-2602fe64.webp"
							media="(min-width: 640px)"
						/>
						<source
							src="/assets/images/6-31a6bed2.webp"
							media="(max-width: 639px)"
						/>
						<img
							class="w-full h-auto"
							src="/assets/images/6-36f34a75.webp"
						/>
					</picture>
				</div>
			</div>

			<div class="swiper-pagination"></div>
		</div>
	</div>
</section>