{% load static %}
<section class="fourthScene py-[25px] sm:py-[35px] sm:pb-[100px] md:py-[50px] md:pb-[120px] lg:py-[60px] lg:pb-[140px] overflow-x-hidden">
	<div class="container xl:max-w-[1400px]">
		<div class="grid">
			<div class="-mx-1.5 overflow-hidden">
				<p
					class="text-[32px] sm:text-[24px] md:text-[42px] text-[#6A35FF] font-semibold leading-[44px] text-center fourthScene-animate"
				>
					Главные цифры вашего будущего
				</p>
			</div>

			<div class="mt-2.5 lg:mt-0 overflow-hidden">
				<h2
					class="font-bold text-[64px] leading-[64px] tracking-[1.28px] text-center games fourthScene-animate sm:text-[120px] sm:leading-[120px] md:text-[180px] md:leading-[180px] lg:text-[240px] lg:leading-[240px] uppercase"
				>
					бизнеса
				</h2>
			</div>
		</div>
	</div>

	<div class="relative pb-[302px] lg:pb-[390px] -mt-6 sm:-mt-9 md:-mt-14">
		<div class="absolute w-[1095px] fotos lg:w-[1360px]">
			<div class="flex relative pb-[302px] lg:pb-[360px]">
				<!--   FOTO 1   -->
				<img
					class="absolute shadow-md w-[151px] lg:w-[187px] h-auto z-50 foto-1"
					src="{% static '/images/profit/fotos/foto-1.jpg' %}"
					loading="lazy"
				/>
				<!--   FOTO 2   -->
				<img
					class="absolute shadow-md w-[151px] lg:w-[187px] h-auto z-40 foto-2"
					src="{% static '/images/profit/fotos/foto-2.jpg' %}"
					loading="lazy"
				/>
				<!--   FOTO 3   -->
				<img
					class="absolute shadow-md w-[151px] lg:w-[187px] h-auto z-20 foto-3"
					src="{% static '/images/profit/fotos/foto-3.jpg' %}"
					loading="lazy"
				/>
				<!--   FOTO 4   -->
				<img
					class="absolute shadow-md w-[151px] lg:w-[187px] h-auto z-30 foto-4"
					src="{% static '/images/profit/fotos/foto-4.jpg' %}"
					loading="lazy"
				/>
				<!--   FOTO 5   -->
				<img
					class="absolute shadow-md w-[151px] lg:w-[187px] h-auto z-50 foto-5"
					src="{% static '/images/profit/fotos/foto-5.jpg' %}"
					loading="lazy"
				/>
				<!--   FOTO 6   -->
				<img
					class="absolute shadow-md w-[151px] lg:w-[187px] h-auto z-30 foto-6"
					src="{% static '/images/profit/fotos/foto-6.jpg' %}"
					loading="lazy"
				/>
				<!--   FOTO 7   -->
				<img
					class="absolute shadow-md w-[151px] lg:w-[187px] h-auto z-20 foto-7"
					src="{% static '/images/profit/fotos/foto-7.jpg' %}"
					loading="lazy"
				/>
				<!--   FOTO 8   -->
				<img
					class="absolute shadow-md w-[151px] lg:w-[187px] h-auto z-30 foto-8"
					src="{% static '/images/profit/fotos/foto-8.jpg' %}"
					loading="lazy"
				/>
				<!--   FOTO 9   -->
				<img
					class="absolute shadow-md w-[151px] lg:w-[187px] h-auto z-50 foto-9"
					src="{% static '/images/profit/fotos/foto-9.jpg' %}"
					loading="lazy"
				/>
				<!--   FOTO 10   -->
				<img
					class="absolute shadow-md w-[151px] lg:w-[187px] h-auto z-30 foto-10"
					src="{% static '/images/profit/fotos/foto-10.jpg' %}"
					loading="lazy"
				/>
			</div>
		</div>
	</div>

	<div>
		<ul
	area="list-numbers"
	class="px-4 grid grid-cols-1 gap-[10px] sm:px-5 sm:mt-[50px] md:grid-cols-2 md:gap-y-[13px] md:gap-x-[37px] md:px-10 md:mt-[60px] lg:justify-center"
>
	<li class="font-open text-[#6A35FF] {=$classItem}">
	<p
		class="block w-max text-[44px] font-bold md:font-semibold leading-[130%] pl-[14px] sm:text-[64px] sm:leading-[140%] sm:pl-5 lg:text-[74px]"
	>
		от 600 000 ₽
	</p>
	<h3
		class="block text-[20px] font-semibold md:font-normal leading-[140%] px-5 py-4 bg-[#EAEAFF] rounded-[20px] -mt-5 sm:text-[28px] sm:py-5 sm:-mt-8 sm:font-normal md:w-[450px] lg:w-[531px] xl0:w-[600px]"
	>
		Средняя выручка в месяц
	</h3>
</li>

	<li class="font-open text-[#6A35FF] md:justify-self-end  ">
	<p
		class="block w-max text-[44px] font-bold md:font-semibold leading-[130%] pl-[14px] sm:text-[64px] sm:leading-[140%] sm:pl-5 lg:text-[74px]"
	>
		от 300 000 ₽
	</p>
	<h3
		class="block text-[20px] font-semibold md:font-normal leading-[140%] px-5 py-4 bg-[#EAEAFF] rounded-[20px] -mt-5 sm:text-[28px] sm:py-5 sm:-mt-8 sm:font-normal md:w-[450px] lg:w-[531px] xl0:w-[600px]"
	>
		Прибыль
	</h3>
</li>

	<li class="font-open text-[#6A35FF] {=$classItem}">
	<p
		class="block w-max text-[44px] font-bold md:font-semibold leading-[130%] pl-[14px] sm:text-[64px] sm:leading-[140%] sm:pl-5 lg:text-[74px]"
	>
		от 2 000 000 ₽
	</p>
	<h3
		class="block text-[20px] font-semibold md:font-normal leading-[140%] px-5 py-4 bg-[#EAEAFF] rounded-[20px] -mt-5 sm:text-[28px] sm:py-5 sm:-mt-8 sm:font-normal md:w-[450px] lg:w-[531px] xl0:w-[600px]"
	>
		Инвестиции на открытие
	</h3>
</li>

	<li class="font-open text-[#6A35FF] md:justify-self-end  ">
	<p
		class="block w-max text-[44px] font-bold md:font-semibold leading-[130%] pl-[14px] sm:text-[64px] sm:leading-[140%] sm:pl-5 lg:text-[74px]"
	>
		15 000 ₽
	</p>
	<h3
		class="block text-[20px] font-semibold md:font-normal leading-[140%] px-5 py-4 bg-[#EAEAFF] rounded-[20px] -mt-5 sm:text-[28px] sm:py-5 sm:-mt-8 sm:font-normal md:w-[450px] lg:w-[531px] xl0:w-[600px]"
	>
		Подписка в месяц
	</h3>
</li>

	<li class="font-open text-[#6A35FF] {=$classItem}">
	<p
		class="block w-max text-[44px] font-bold md:font-semibold leading-[130%] pl-[14px] sm:text-[64px] sm:leading-[140%] sm:pl-5 lg:text-[74px]"
	>
		от 9 месяцев
	</p>
	<h3
		class="block text-[20px] font-semibold md:font-normal leading-[140%] px-5 py-4 bg-[#EAEAFF] rounded-[20px] -mt-5 sm:text-[28px] sm:py-5 sm:-mt-8 sm:font-normal md:w-[450px] lg:w-[531px] xl0:w-[600px]"
	>
		Окупаемость
	</h3>
</li>

	<li class="font-open text-[#6A35FF] md:justify-self-end  ">
	<p
		class="block w-max text-[44px] font-bold md:font-semibold leading-[130%] pl-[14px] sm:text-[64px] sm:leading-[140%] sm:pl-5 lg:text-[74px]"
	>
		0 ₽
	</p>
	<h3
		class="block text-[20px] font-semibold md:font-normal leading-[140%] px-5 py-4 bg-[#EAEAFF] rounded-[20px] -mt-5 sm:text-[28px] sm:py-5 sm:-mt-8 sm:font-normal md:w-[450px] lg:w-[531px] xl0:w-[600px]"
	>
		Роялти
	</h3>
</li>

</ul>

	</div>
</section>