<section
	class="fourteenthScene py-[35px] pt-[70px] sm:py-[100px] sm:pb-[65px] md:py-[50px] md:pt-[120px] lg:pt-[150px] lg:pb-[90px] overflow-hidden"
>
	<div class="container xl:max-w-[1200px]">
		<div class="overflow-hidden">
			<h2
				class="font-semibold text-[24px] leading-[34px] text-center fourteenthScene-animate sm:text-[40px] sm:leading-[52px] md:text-[56px] md:leading-[67px]"
			>
				Подписка — что это?
			</h2>
		</div>

		<div
			class="grid mt-5 rounded-[30px] sm:mt-[30px] md:grid-cols-2 md:gap-x-5 md:bg-transparent md:rounded-none md:p-0 md:mt-[50px]"
		>
			<ul
				class="left flex flex-col gap-y-1 sm:gap-y-5 md:bg-white md:rounded-[30px] md:px-5 md:py-[30px]"
			>
				<li class="flex">
  <div>
    <svg width="31" height="33" viewBox="0 0 31 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="15.5" cy="16.5" r="6.5" fill="#B2BDFF"/>
    </svg>
  </div>
  <div class="pt-1 pl-2.5 sm:pt-0 md:pl-4">
    <p class="text-[16px] leading-[24px]
              sm:text-[24px] sm:leading-[34px]"
    >
      Техподдержка игрового сервера и обновления
    </p>
  </div>
</li>
				<li class="flex">
  <div>
    <svg width="31" height="33" viewBox="0 0 31 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="15.5" cy="16.5" r="6.5" fill="#B2BDFF"/>
    </svg>
  </div>
  <div class="pt-1 pl-2.5 sm:pt-0 md:pl-4">
    <p class="text-[16px] leading-[24px]
              sm:text-[24px] sm:leading-[34px]"
    >
      Служба заботы на каждом этапе
    </p>
  </div>
</li>
				<li class="flex">
  <div>
    <svg width="31" height="33" viewBox="0 0 31 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="15.5" cy="16.5" r="6.5" fill="#B2BDFF"/>
    </svg>
  </div>
  <div class="pt-1 pl-2.5 sm:pt-0 md:pl-4">
    <p class="text-[16px] leading-[24px]
              sm:text-[24px] sm:leading-[34px]"
    >
      База знаний онлайн — наш опыт по запуску арен
    </p>
  </div>
</li>
				<li class="flex">
  <div>
    <svg width="31" height="33" viewBox="0 0 31 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="15.5" cy="16.5" r="6.5" fill="#B2BDFF"/>
    </svg>
  </div>
  <div class="pt-1 pl-2.5 sm:pt-0 md:pl-4">
    <p class="text-[16px] leading-[24px]
              sm:text-[24px] sm:leading-[34px]"
    >
      Служба заботы на каждом этапе
    </p>
  </div>
</li>
				<li class="flex">
  <div>
    <svg width="31" height="33" viewBox="0 0 31 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="15.5" cy="16.5" r="6.5" fill="#B2BDFF"/>
    </svg>
  </div>
  <div class="pt-1 pl-2.5 sm:pt-0 md:pl-4">
    <p class="text-[16px] leading-[24px]
              sm:text-[24px] sm:leading-[34px]"
    >
      Фирменный стиль
    </p>
  </div>
</li>
				<li class="flex">
  <div>
    <svg width="31" height="33" viewBox="0 0 31 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="15.5" cy="16.5" r="6.5" fill="#B2BDFF"/>
    </svg>
  </div>
  <div class="pt-1 pl-2.5 sm:pt-0 md:pl-4">
    <p class="text-[16px] leading-[24px]
              sm:text-[24px] sm:leading-[34px]"
    >
      Графические материалы для печатной продукции
    </p>
  </div>
</li>
				<li class="flex">
  <div>
    <svg width="31" height="33" viewBox="0 0 31 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="15.5" cy="16.5" r="6.5" fill="#B2BDFF"/>
    </svg>
  </div>
  <div class="pt-1 pl-2.5 sm:pt-0 md:pl-4">
    <p class="text-[16px] leading-[24px]
              sm:text-[24px] sm:leading-[34px]"
    >
      Графические материалы для социальных сетей
    </p>
  </div>
</li>
				<li class="flex">
  <div>
    <svg width="31" height="33" viewBox="0 0 31 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="15.5" cy="16.5" r="6.5" fill="#B2BDFF"/>
    </svg>
  </div>
  <div class="pt-1 pl-2.5 sm:pt-0 md:pl-4">
    <p class="text-[16px] leading-[24px]
              sm:text-[24px] sm:leading-[34px]"
    >
      Материалы с фотосессии
    </p>
  </div>
</li>
				<li class="flex">
  <div>
    <svg width="31" height="33" viewBox="0 0 31 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="15.5" cy="16.5" r="6.5" fill="#B2BDFF"/>
    </svg>
  </div>
  <div class="pt-1 pl-2.5 sm:pt-0 md:pl-4">
    <p class="text-[16px] leading-[24px]
              sm:text-[24px] sm:leading-[34px]"
    >
      Контент для групп в социальных сетях
    </p>
  </div>
</li>
				<li class="flex">
  <div>
    <svg width="31" height="33" viewBox="0 0 31 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="15.5" cy="16.5" r="6.5" fill="#B2BDFF"/>
    </svg>
  </div>
  <div class="pt-1 pl-2.5 sm:pt-0 md:pl-4">
    <p class="text-[16px] leading-[24px]
              sm:text-[24px] sm:leading-[34px]"
    >
      Инструкция по подбору помещения
    </p>
  </div>
</li>
			</ul>

			<ul
				class="right flex flex-col pt-1 gap-y-1 sm:gap-y-5 sm:pt-5 md:bg-white md:rounded-[30px] md:px-5 md:py-[30px]"
			>
				<li class="flex">
  <div>
    <svg width="31" height="33" viewBox="0 0 31 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="15.5" cy="16.5" r="6.5" fill="#B2BDFF"/>
    </svg>
  </div>
  <div class="pt-1 pl-2.5 sm:pt-0 md:pl-4">
    <p class="text-[16px] leading-[24px]
              sm:text-[24px] sm:leading-[34px]"
    >
      Инструкция по настройке оборудования
    </p>
  </div>
</li>
				<li class="flex">
  <div>
    <svg width="31" height="33" viewBox="0 0 31 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="15.5" cy="16.5" r="6.5" fill="#B2BDFF"/>
    </svg>
  </div>
  <div class="pt-1 pl-2.5 sm:pt-0 md:pl-4">
    <p class="text-[16px] leading-[24px]
              sm:text-[24px] sm:leading-[34px]"
    >
      Инструкции по поиску и обучению персонала
    </p>
  </div>
</li>
				<li class="flex">
  <div>
    <svg width="31" height="33" viewBox="0 0 31 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="15.5" cy="16.5" r="6.5" fill="#B2BDFF"/>
    </svg>
  </div>
  <div class="pt-1 pl-2.5 sm:pt-0 md:pl-4">
    <p class="text-[16px] leading-[24px]
              sm:text-[24px] sm:leading-[34px]"
    >
      Инструктаж игроков на арене
    </p>
  </div>
</li>
				<li class="flex">
  <div>
    <svg width="31" height="33" viewBox="0 0 31 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="15.5" cy="16.5" r="6.5" fill="#B2BDFF"/>
    </svg>
  </div>
  <div class="pt-1 pl-2.5 sm:pt-0 md:pl-4">
    <p class="text-[16px] leading-[24px]
              sm:text-[24px] sm:leading-[34px]"
    >
      Пример дизайн-проекта арены
    </p>
  </div>
</li>
				<li class="flex">
  <div>
    <svg width="31" height="33" viewBox="0 0 31 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="15.5" cy="16.5" r="6.5" fill="#B2BDFF"/>
    </svg>
  </div>
  <div class="pt-1 pl-2.5 sm:pt-0 md:pl-4">
    <p class="text-[16px] leading-[24px]
              sm:text-[24px] sm:leading-[34px]"
    >
      Чек-лист по открытию и закрытию арены
    </p>
  </div>
</li>
				<li class="flex">
  <div>
    <svg width="31" height="33" viewBox="0 0 31 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="15.5" cy="16.5" r="6.5" fill="#B2BDFF"/>
    </svg>
  </div>
  <div class="pt-1 pl-2.5 sm:pt-0 md:pl-4">
    <p class="text-[16px] leading-[24px]
              sm:text-[24px] sm:leading-[34px]"
    >
      Чек-лист по подбору помещения
    </p>
  </div>
</li>
				<li class="flex">
  <div>
    <svg width="31" height="33" viewBox="0 0 31 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="15.5" cy="16.5" r="6.5" fill="#B2BDFF"/>
    </svg>
  </div>
  <div class="pt-1 pl-2.5 sm:pt-0 md:pl-4">
    <p class="text-[16px] leading-[24px]
              sm:text-[24px] sm:leading-[34px]"
    >
      Чек-лист по комплексному открытию площадки
    </p>
  </div>
</li>
				<li class="flex">
  <div>
    <svg width="31" height="33" viewBox="0 0 31 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="15.5" cy="16.5" r="6.5" fill="#B2BDFF"/>
    </svg>
  </div>
  <div class="pt-1 pl-2.5 sm:pt-0 md:pl-4">
    <p class="text-[16px] leading-[24px]
              sm:text-[24px] sm:leading-[34px]"
    >
      Чек-лист по ремонту помещения
    </p>
  </div>
</li>
				<li class="flex">
  <div>
    <svg width="31" height="33" viewBox="0 0 31 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="15.5" cy="16.5" r="6.5" fill="#B2BDFF"/>
    </svg>
  </div>
  <div class="pt-1 pl-2.5 sm:pt-0 md:pl-4">
    <p class="text-[16px] leading-[24px]
              sm:text-[24px] sm:leading-[34px]"
    >
      Чек-лист: рекомендации по обустройству арены
    </p>
  </div>
</li>
			</ul>
		</div>
	</div>
</section>
