<section
	class="elevenScene py-[25px] pt-[70px] sm:py-[100px] md:py-[120px] lg:pt-[150px] lg:pb-[120px]"
>
	<div class="container xl:max-w-[1200px] overflow-hidden">
		<h2
			class="text-[40px] leading-[52px] text-center elevenScene-animate md:text-[56px] md:leading-[67px] md:max-w-[800px] md:mx-auto"
		>
			Узнай больше о&nbsp;франшизе AVATAR&nbsp;GAMES
		</h2>
	</div>
	<div class="w-full lg:max-w-[1400px] mx-auto">
		<div class="w-full pb-[56.25%] relative">
			<iframe
				id="elevenScene-video"
				data-src="https://www.youtube.com/embed/uZGCox3r5uk?controls=2"
				src=""
				title="Avatar Games"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				allowfullscreen
				loading="lazy"
			></iframe>
		</div>
	</div>
</section>