<section
	class="sevenScene relative py-[25px] pb-0 sm:py-[35px] sm:pb-[15px] md:py-[50px] lg:py-[60px] lg:pb-[40px] overflow-hidden"
>
	<div class="container xl:max-w-[1200px]">
		<div class="min-h-[34px] w-full relative">
			<div class="z-10 flex items-center justify-center why">
				<h3
					class="text-[24px] leading-[34px] text-center why-text sm:text-[40px] sm:leading-[52px]"
				>
					Почему сеть VR-арен?
				</h3>
			</div>
		</div>

		<div class="mt-5 sm:mt-10 md:mt-[90px] why-info">
			<h2
				class="font-semibold text-[40px] leading-[52px] text-center sm:text-[56px] sm:leading-[67px] md:text-[96px] md:leading-[115px] md:font-bold"
			>
				Самая быстрорастущая отрасль.
			</h2>
			<p
				class="mt-8 px-4 text-[20px] text-[#808796] leading-[28px] text-center sm:mt-10 sm:px-9 sm:text-[24px] sm:leading-[33px] md:mt-8 md:px-28 lg:px-[186px]"
			>
				Прогнозируется, что к 2030 году рынок VR достигнет 1,5 триллиона
				долларов США (на основе среднегодового темпа роста в 43,7% в
				период с 2021 по 2030 год)
			</p>
		</div>
	</div>
</section>