<script src="https://yastatic.net/browser-updater/v1/script.js" charset="utf-8"></script>
<script>
    var yaBrowserUpdater = new ya.browserUpdater.init({
        lang: "ru",
        browsers: {
            yabrowser: "16.12",
            chrome: "62",
            ie: "11",
            opera: "49",
            safari: "11",
            fx: "64",
            iron: "Infinity",
            flock: "Infinity",
            palemoon: "Infinity",
            camino: "Infinity",
            maxthon: "Infinity",
            seamonkey: "Infinity",
        },
        theme: "yellow",
    });
</script>
<!-- Top.Mail.Ru counter -->
<noscript>
    <div>
      <img
              src="https://top-fwz1.mail.ru/counter?id=3379940;js=na"
              style="position: absolute; left: -9999px"
              alt="Top.Mail.Ru"
      />
    </div>
</noscript>
<!-- /Top.Mail.Ru counter -->
<!-- Yandex.Metrika counter -->
<noscript>
	<div>
	  <img
			  src="https://mc.yandex.ru/watch/92197085"
			  style="position: absolute; left: -9999px"
			  alt=""
	  />
	</div>
</noscript>
<!-- /Yandex.Metrika counter -->