{% load vite %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'favicon/favicon.html' %}
    <title>{% block title%}AVATAR GAMES - Новости{% endblock %}</title>

    {% vite %}
    {% vite 'avatargames/js/common.js' 'avatargames/css/common.css' 'news/js/news.js' 'news/css/news.css'%}
    {% include 'metriks/head.html' %}
</head>
<body class="bg-[#F7F7FA] news-page font-open">
<div style="display: none;">
    {% include 'preloader/preloader.html' %}
</div>

{% include 'header/header.html' %}
<div>
    <main
            class="px-5 lg:max-w-[1280px] lg:mx-auto xl:max-w-[1400px] xl:px-0 lg:px-[31px]"
    >
        <!-- Breadcrumbs -->
        {% include 'news/partials/breadcrumbs.html' %}


        {% include 'news/partials/top.html' with types=types %}

        <!-- Category -->
        <div>
            <!-- Category mobile -->
            {% include 'news/partials/category-mobile.html' with category=category %}


            <!-- Category Desktop -->
            {% include 'news/partials/category-desktop.html' with category=category %}

        </div>

        <div class="content-articles mt-10 mb-[60px] sm:mt-[60px]">
            {% include 'news/partials/article-big.html' %}


            <div
                    class="mt-10 flex flex-col gap-y-10 sm:mt-[50px] sm:gap-y-[50px] md:flex-row md:flex-wrap md:mt-[60px] md:gap-x-[26px] lg:gap-x-[24px] lg:mt-[50px] xl:mt-[60px] xl:gap-x-5"
            >
                {% for article in articles %}
                    {% include 'news/partials/article-small.html' with article=article %}
                {% endfor %}
            </div>
        </div>


        <div class="mb-[60px] flex justify-center">
            <button
                    type="button"
                    class="w-[161px] h-10 rounded-[50px] border border-[#EFEFF8] bg-white text-[#6A35FF] shadow-[0px_3px_13px_0px_rgba(211,_218,_228,_0.26)]"
            >
                Показать ещё
            </button>
        </div>
    </main>
</div>
{% include 'footer/footer-small.html' %}
{% include 'form/form.html' %}
{% include 'form/messages/success.html' %}
{% include 'scroll_to_top/scroll_to_top.html' %}
{% include 'metriks/body.html' %}
</body>
</html>